<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Ayurweda Management System - Login" />
  <title>Ayurveda Management System</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin/AdminDashboard.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/Sidebar.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin/dashboard.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/Navbar.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/MainContent.css}">
</head>

<body>
<div id="root">
  <div class="page-container">
    <!-- Navbar----------------------------------------------------------------------------------------------------- -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #24757e; color: #ffffff">
      <div class="container-fluid">
        <div class="d-flex align-items-center flex-wrap flex-lg-nowrap w-100 justify-content-end">
          <ul class="navbar-nav d-flex flex-row w-auto mt-2 mt-lg-0">
            <li class="nav-items">
              <div class="dropdown">
                <button
                        class="nav-link text-white dropdown-toggle"
                        style="background: none; border: none"
                        id="navbarDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                  <img
                          src="/images/user.png"
                          alt="user"
                          style="width: 37px; padding-right: 9px; margin-right: 5px"
                  />
                  <img
                          src="/images/arrow.png"
                          alt="arrow"
                          style="width: 15px"
                  />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="top-section">
        <div class="actions-container">
          <div class="search-container">
            <input type="text" placeholder="Search for patients" class="search-bar" />
            <i class="fas fa-search search-icon"></i>
          </div>
            <a th:href="@{/patient/showFormForAdd}" class="btn add-btn">Add New Patient</a>
        </div>
      </div>

      <div class="main-content">
        <!-- Sidebar------------------------------------------------------------------------------------------------ -->
        <div class="sidebar">
          <h2>Dashboard</h2>
          <ul>
            <li><a th:href="@{/treatment/list}"><img src="/images/Dashboard.png" alt="Dashboard" style="width: 25px; margin-right: 10px" /><span>Dashboard</span></a></li>
            <li><a th:href="@{/patient/list}"><img src="/images/Patients.png" alt="Patients" style="width: 25px; margin-right: 10px" /><span>Patients</span></a></li>
            <li><a th:href="@{/user/list}"><img src="/images/Patients.png" alt="Users" style="width: 25px; margin-right: 10px" /><span>Users</span></a></li>
            <li><a th:href="@{/staff/list}"><img src="/images/Patients.png" alt="Staff" style="width: 25px; margin-right: 10px" /><span>Staff</span></a></li>
          </ul>
        </div>

        <!-- Patient List------------------------------------------------------------------------------------------- -->
        <div class="table-container">
          <table class="table">
            <thead>
            <tr>
              <th>Patient Id</th>
              <th>Patient Name</th>
              <th>Patient Age</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="tempPatient : ${patients}">
                  <td th:text="${tempPatient.id}"></td>
                  <td th:text="${tempPatient.name}"></td>
                  <td th:text="${tempPatient.age}"></td>
                  <td th:text="${tempPatient.contactNumber}"></td>
                  <td th:text="${tempPatient.address}"></td>
                  <td >
                    <a type="button" class="btn btn-action btn-view"
                            th:href="@{/patient/profile(patientId=${tempPatient.id})}">View</a>
                    <a type="button" class="btn btn-action btn-update"
                           th:href="@{/patient/showFormForUpdate(patientId=${tempPatient.id})}">Update</a>
                    <a type="button" class="btn btn-action btn-delete"
                            th:href="@{/patient/delete(patientId=${tempPatient.id})}" >Delete</a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Delete confirmation popup---------------------------------------------------------------------------------- -->
    <div id="delete-popup-overlay" class="popup-overlay-delete" style="display: none;">
      <div class="popup-content-delete" onClick="event.stopPropagation()">
        <h3 class="delete-text">Are you sure you want to delete this?</h3>
        <div class="confirmation-buttons">
          <button class="btn-action btn-view" onClick="handleDelete()">Yes, Delete</button>
          <button class="btn-action btn-delete" onClick="closeDeletePopup()">Cancel</button>
        </div>
      </div>
    </div>




  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
